## Feature Engineering

Questions handled in Feature Enginerring 
1. Are outliers handled?
2. Is the data in the correct data type
3. Is the data clean?
4. Is the data in the correct format? (feature encoding)
5. Do you have the best columns?
6. Is the data standard?

In [1]:
import pandas as pd

## Feature Encoding

In [2]:
df = pd.DataFrame({"Country": ["USA", "Egypt", "Australia"],
                  "Age": [24, 35, 33],
                  "Salary": [75000, 85000, 90000],
                  "Vehicle": ["Yes", "No", "Yes"]})

In [3]:
df

     Country  Age  Salary Vehicle
0        USA   24   75000     Yes
1      Egypt   35   85000      No
2  Australia   33   90000     Yes

## Types of Encoding

Label encoding - categorical variables are converted into numerical variables
One-hot encoding - similar to label encoding but leads to formation of more columns
Binary encoding - data is encoded in zeros and ones

### Types of data

1. Numerical: integers and floats
2. Categorical- nominal and ordinal data

## Label Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
df["country_lenc"] = le.fit_transform(df["Country"])

In [7]:
df

     Country  Age  Salary Vehicle  country_lenc
0        USA   24   75000     Yes             2
1      Egypt   35   85000      No             1
2  Australia   33   90000     Yes             0

## One hot encoding

In [8]:
pd.get_dummies(df["Country"])

   Australia  Egypt  USA
0          0      0    1
1          0      1    0
2          1      0    0

## Binary Encoding

In [9]:
df["Occupation"] = ["Data Scientist", "Data Analyst", "Data Engineer"]

In [10]:
df

     Country  Age  Salary Vehicle  country_lenc      Occupation
0        USA   24   75000     Yes             2  Data Scientist
1      Egypt   35   85000      No             1    Data Analyst
2  Australia   33   90000     Yes             0   Data Engineer

In [12]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [13]:
import category_encoders as ce

In [14]:
cenc = ce.BinaryEncoder(cols = ["Occupation"])
#Alternatively: #cenc2 = category_encoder.BinaryEncoder(cols = ["Occupation"])

In [15]:
cenc

BinaryEncoder(cols=['Occupation'])

In [17]:
df_binary = cenc.fit_transform(df)

In [18]:
df_binary

     Country  Age  Salary Vehicle  country_lenc  Occupation_0  Occupation_1
0        USA   24   75000     Yes             2             0             1
1      Egypt   35   85000      No             1             1             0
2  Australia   33   90000     Yes             0             1             1